:host {
  display: block;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(#c2185b, 1);
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    height 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.open {
    width: 75px;
    height: 75px;
  }
}
