:host {
  position: relative;
  border-top: 1px solid #474554;
  border-bottom: 1px solid #474554;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: calc(2 * 24px + 100px);

  .marquee-wrap {
    position: relative;
    height: 100%;
    width: 200%;
    transform: translateX(-100px);
  }

  .marquee-item {
    background-color: #323232;
    position: absolute;
    padding-right: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 3rem;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(#fff, 0.3);
    transform: skew(10deg);
  }
}
