<!-- Headline -->
<svg
  viewBox="0 0 300 300"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  class="headline"
>
  <path
    id="SunCatcherStudio"
    fill="none"
    d="M 32.550491,148.48008 A -108.15144,-108.15144 0 0 1 140.70194,40.328644 -108.15144,-108.15144 0 0 1 248.85338,148.48008 -108.15144,-108.15144 0 0 1 140.70194,256.63153 -108.15144,-108.15144 0 0 1 32.550491,148.48008 Z"
  />
  <text
    font-size="32"
    fill="#ffffff"
    letter-spacing="0"
    font-family="Roboto"
    font-weight="bold"
  >
    <textPath xlink:href="#SunCatcherStudio" side="left" startOffset="5">
      Adnan Gobeljic . Full stack . Developer
    </textPath>
  </text>
</svg>

<!-- Sky -->
<div class="sky" #sky></div>

<img src="assets/landing-page/fog2.png" class="fog" alt="fog" />
<img src="assets/landing-page/fog2.png" class="fog fog--2" alt="fog" />

<!-- Mountains -->
<app-asset
  [class]="'mountain mountain--1'"
  [assetName]="'mountain1'"
></app-asset>
<app-asset
  [class]="'mountain mountain--2'"
  [assetName]="'mountain2'"
></app-asset>

<!-- Floor -->
<div class="floor"></div>
<svg
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 1440 320"
  class="divider"
  preserveAspectRatio="none"
>
  <path
    fill="#323232"
    fill-opacity="1"
    d="M0,96L60,122.7C120,149,240,203,360,218.7C480,235,600,213,720,208C840,203,960,213,1080,208C1200,203,1320,181,1380,170.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
  ></path>
</svg>
<app-asset [class]="'house house--1'" [assetName]="'house1'"></app-asset>
<app-asset [class]="'house house--2'" [assetName]="'house2'"></app-asset>
<app-asset [class]="'house house--3'" [assetName]="'house3'"></app-asset>
