<div class="projects">
  <div class="projects__project" *ngFor="let project of projects">
    <div class="projects__project__wrap">
      <div class="projects__project__img">
        <img [src]="project.src" alt="" loading="lazy" />
      </div>
      <div class="projects__project__wrap__inner">
        <h4 class="projects__project__title">{{ project.name }}</h4>
        <a
          mouseTracking
          *ngIf="project.link"
          mat-icon-button
          class="projects__project__cta projects__project__cta--link"
          [href]="project.link"
          target="_blank"
          rel="noopener noreferrer"
          [matTooltip]="'Open in new tab'"
          matTooltipClass="tooltip--dark"
          [matTooltipPosition]="'above'"
        >
          <mat-icon>open_in_new</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
