/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  color: #fff;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #323232;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
.tooltip--dark {
  * {
    background-color: #191919 !important;
  }
}

* {
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.project-details-dialog-panel {
  max-width: 95vw !important;

  .mdc-dialog__surface {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
